@font-face {
    font-family: ReplicaPro;
    src: url(fonts/ReplicaProLight.otf);
}

@font-face {
    font-family: ReplicaPro;
    src: url(fonts/ReplicaProBold.otf);
    font-weight: bold;
}

@font-face {
    font-family: ReplicaPro;
    src: url(fonts/ReplicaProItalic.otf);
    font-style: italic;
}

body {
    background-color: #343434;
    color: #fff;
    font-family: ReplicaPro, Arial, sans-serif;
}

.green, .green.btn-link:hover, .green.btn-link:focus {
    color: #53da3f;
}

.green-background {
    background-color: #53da3f;
}

#login {
    color: #fff;
    border-color: #53da3f;
}

#login:hover, #login:focus {
    color: #000;
}

a, a:hover, a:focus {
    color: #53da3f;
}

.black {
    color: #000000;
}

label {
    color: #afafaf;
    font-size: 10pt;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

i.checkmark {
    display: none;
}

.modal-icon {
    width: 58px;
    height: 58px;
}

.modal-heading {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 10px;
    font-weight: 100;
}

.modal-text {
    font-size: 20px;
    line-height: 24px;
    font-weight: 100;
    padding: 15px 20px;
    color: #6f6f6f;
}

.modal-close {
    font-size: 20px;
    color: #9d9d9d;
}

hr.big {
    margin: 30px 0;
}

span.close {
    opacity: 1.0;
}

.btn[disabled], .btn.disabled {
    background-color: #f4f4f4;
    color: #919191;
}

.btn {
    font-weight: bold;
}

.error span.help-block, span.error {
    color: #e73d3e;
}

.error input {
    background-color: #fad8d8;
    border-color: #fad8d8;
}

.error span.input-group-addon {
    border-color: #fad8d8;
}

input[type=text], input[type=email], span.input-group-addon, div.modal-content {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}

i.fa-square, i.fa-square.o {
    font-weight: lighter;
    border-radius: 0px;
}

span.input-group-addon {
    background-color: #fff;
    color: #53da3f;
}

div.pseudocheckbox {
    width: 30px;
    height: 30px;
    border: solid 1px #afafaf;
    border-radius: 0px;
    background-color: #fff;
    text-align: center;
    padding-top: 3px;
    cursor: pointer;
}

/** There are lots of classes called 'checked'.  Use something slightly different to avoid any namespace clashes. */
div.pseudocheckbox.checkedx {
    background-color: #000;
}

div.pseudocheckbox i.fa-check {
    display: none;
    z-index: 99;
    font-size: 12pt;
    cursor: pointer;
    position: relative;
    top: 2px;
}

div.checkable-label {
    cursor: pointer;
    font-size: 9pt;
    padding-left: 0;
}

/** These classes define spacing and font size on the main and success pages.  Override them for phones in mobile.css. */

.row.welcome {
    margin-top: 100px;
    margin-bottom: 10px;
}

.row.welcome div {
    font-size: 28pt;
    font-weight: bold;
}

.row.ready div {
    font-size: 48pt;
    font-weight: bold;
}

.row.logo {
    margin-top: 40px;
    margin-bottom: 60px;
}

.row.hear-more {
    margin-top: 20px;
    margin-bottom: 50px;
}

.row.hear-more p {
    padding-top: 7px;
    font-weight: bold;
    height: 100px;
    width: 100px;
    margin: 0 auto;
}

.row.hear-more p#hearMore {
    cursor: pointer;
    border-radius: 100%;
    border: 2px solid #fff;
    text-align: center;
}

.row.hear-more div {
    letter-spacing: 2px;
}

.row.coming-soon {
    margin-bottom: 50px;
}

.row.coming-soon div {
    font-size: 26pt;
    letter-spacing: 2px;
}

footer {
    text-align: center;
    color: #5f5f58;
    margin-bottom: 15px;
}

footer a {
    color: #5f5f58;
}

div.modal-content {
    height: 625px;
}

div.modal-body {
    margin-top: 10px;
}

div.modal-body div.text-center p {
    color: #afafaf;
    font-size: 18pt;
    padding-bottom: 10px;
    margin-top: 10px;
}

div.row.over18 {
    color: #afafaf;
    margin-bottom: 10px;
}

div.row.over18-errors {
    position: relative;
    top: -25px;
}

div.row.privacy {
    color: #afafaf;
    margin-bottom: 10px;
}

div.row.privacy-errors {
    position: relative;
    top: -25px;
}

div.row.submit {
    margin-top: 15px;
}

input#submit {
    margin-bottom: 25px;
    width: 100%;
}