@font-face {
    font-family: ReplicaPro;
    src: url(fonts/ReplicaProLight.otf);
}

@font-face {
    font-family: ReplicaPro;
    src: url(fonts/ReplicaProBold.otf);
    font-weight: bold;
}

@font-face {
    font-family: ReplicaPro;
    src: url(fonts/ReplicaProItalic.otf);
    font-style: italic;
}

body {
    background-color: #343434;
    color: #fff;
    font-family: ReplicaPro, Arial, sans-serif;
}

.green {
    color: #53da3f;
}

.green-background {
    background-color: #53da3f;
}

a, a:hover, a:focus {
    color: #53da3f;
}

.black {
    color: #000000;
}

label {
    color: #afafaf;
    font-size: 10pt;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

i.checkmark {
    display: none;
}

.modal-icon {
    width: 58px;
    height: 58px;
}

.modal-heading {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 10px;
    font-weight: 100;
}

.modal-text {
    font-size: 20px;
    line-height: 24px;
    font-weight: 100;
    padding: 15px 20px;
    color: #6f6f6f;
}

.modal-close {
    font-size: 20px;
    color: #9d9d9d;
}

hr.big {
    margin: 30px 0;
}

span.close {
    opacity: 1.0;
}

.btn[disabled], .btn.disabled {
    background-color: #f4f4f4;
    color: #919191;
}

.btn {
    font-weight: bold;
}

.error span.help-block, span.error {
    color: #e73d3e;
}

.error input {
    background-color: #fad8d8;
    border-color: #fad8d8;
}

.error span.input-group-addon {
    border-color: #fad8d8;
}

input[type=text], input[type=email], span.input-group-addon {
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}

i.fa-square, i.fa-square.o {
    font-weight: lighter;
    border-radius: 0px;
}

span.input-group-addon {
    background-color: #fff;
    color: #53da3f;
}

#hearMore {
    cursor: pointer;
    border-radius: 100%;
    border: 2px solid #fff;
    padding-top: 7px;
    font-weight: bold;
    width: 100px;
    height: 100px;
    text-align: center;
    margin: 0 auto;
}

div.pseudocheckbox {
    width: 30px;
    height: 30px;
    border: solid 1px #afafaf;
    border-radius: 2px;
    background-color: #fff;
    text-align: center;
    padding-top: 3px;
    cursor: pointer;
}

/** There are lots of classes called 'checked'.  Use something slightly different to avoid any namespace clashes. */
div.pseudocheckbox.checkedx {
    background-color: #000;
}

div.pseudocheckbox i.fa-check {
    display: none;
    z-index: 99;
    font-size: 18pt;
    cursor: pointer;
}

div.checkable-label {
    cursor: pointer;
    font-size: 9pt;
    padding-left: 0;
}