body {
    background-color: #343434;
    color: #fff;
}

.green {
    color: #54D940;
}

.black {
    color: #000000;
}

label {
    color: #afafaf;
    font-size: 10pt;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

i.checkmark {
    display: none;
}

div.checkable-label {
    cursor: pointer;
    font-size: 9pt;
}