/* Styles for mobile devices */

@media screen and (max-width: 480px) {
	.nav {
		padding: 0.5em;
	}

	.nav li {
		margin: 0 0.5em 0 0;
		padding: 0.25em;
	}

	/* Hide individual steps in pagination, just have next & previous */
	.pagination .step, .pagination .currentStep {
		display: none;
	}

	.pagination .prevLink {
		float: left;
	}

	.pagination .nextLink {
		float: right;
	}

	/* pagination needs to wrap around floated buttons */
	.pagination {
		overflow: hidden;
	}

	/* slightly smaller margin around content body */
	fieldset,
	.property-list {
		padding: 0.3em 1em 1em;
	}

	input, textarea {
		width: 100%;
		   -moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		    -ms-box-sizing: border-box;
		        box-sizing: border-box;
	}

	select, input[type=checkbox], input[type=radio], input[type=submit], input[type=button], input[type=reset] {
		width: auto;
	}

	/* hide all but the first column of list tables */
	.scaffold-list td:not(:first-child),
	.scaffold-list th:not(:first-child) {
		display: none;
	}

	.scaffold-list thead th {
		text-align: center;
	}

	/* stack form elements */
	.fieldcontain {
		margin-top: 0.6em;
	}

	.fieldcontain label,
	.fieldcontain .property-label,
	.fieldcontain .property-value {
		display: block;
		float: none;
		margin: 0 0 0.25em 0;
		text-align: left;
		width: auto;
	}

	.errors ul,
	.message p {
		margin: 0.5em;
	}

	.error ul {
		margin-left: 0;
	}

    .row.welcome {
        margin-top: 20px;
    }

    .row.welcome div {
        font-size: 20pt;
    }

    .row.logo img {
        width: 300px;
    }

    .row.ready div {
        font-size: 28pt;
    }

    .row.logo {
        margin-top: 10px;
        margin-bottom: 15px;
    }

    .row.hear-more {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .row.coming-soon {
        margin-bottom: 10px;
    }

    .row.coming-soon div {
        font-size: 18pt;
    }

    footer {
        font-size: 8pt;
        margin-bottom: 0;
    }

    div.modal-content {
        height: 500px;
    }

    div.modal-dialog {
        margin-bottom: 0;
    }

    div.modal-body {
        margin-top: 0;
        padding-top: 0;
    }

    div.modal-body div.text-center p {
        font-size: 14pt;
        padding-bottom: 0;
        margin-top: 0;
    }

    div.modal-body img {
        width: 80px;
    }

    label {
        font-size: 8pt;
    }

    div.row.over18 {
        color: #afafaf;
        margin-bottom: 10px;
    }

    div.row.over18-errors {
        position: relative;
        top: -25px;
    }

    div.row.privacy {
        color: #afafaf;
        margin-bottom: 5px;
    }

    div.row.privacy-errors {
        position: relative;
        top: -25px;
    }

    div.row.submit {
        margin-top: 5px;
    }

    input#submit {
        margin-bottom: 0;
        width: 100%;
    }
}
